# default ignored directores/files
.DS_Store
.env*
.eslintcache
.next
.turbo
.vercel
*.log
**/node_modules/
pnpm-lock.yaml
tsconfig.tsbuildinfo
yarn.lock

# allowed directories/files
!.gitkeep
!.env.example
